.fetch-button {
    width: 200px;
    height: 50px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(54, 202, 165);
    border: none;
    color: rgb(15, 66, 54);
    transition: all 0.5s;
}

.fetch-button:hover {
    background-color: rgb(40, 209, 209);
}

span {
    margin: 0;
    padding: 0;
}

.jumbotron {
    min-height: 90vh;
    padding: 0px;
    margin-bottom: 0px;
}

.jumbotron-fluid .carousel-inner img {
    width: 100%;
    max-height: 918px;
}