body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: 'DM Mono';
    src: url(https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&display=swap);
}